<!-- home.html -->
<div class="jumbotron text-center">
    <h1>Home Page</h1>

    <p>{{ message }}</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>White</th>
            <th>Black</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Gabor Kokeny</td>
            <td>Andras Tamasi</td>
        </tr>
        <tr>
            <td>Gabor Kokeny</td>
            <td>Viktoria Kiss</td>
        </tr>
        </tbody>
    </table>


    Language: {{preloadReply.language}}
</div>